h1{

    color: white;
    font-size: 80px;
    width: 600px;
    margin-left: 150px;
    padding-top: 100px;

}
#para{
    color: white;
    font-size: 20px;
}
li{
    display: inline;
    color: black;
}
div{

        background-color: white;
        width: 1550px;
        border: 1px solid black;
        margin-top: -70px;
        float: left;
        height:80px;
        margin-left: -10px;
        color: black; 
        font-family: sans-serif;
        
}
#start{
    margin-left: 160px;
}
#download{
    margin-left: 6000px;
    width: 200px;
}
#first{
    width:400px;
    margin-left: 100px;
}
a{
    text-decoration: none;
    color: black;
    margin-left: 50px;

}

  
button{
    background-color:green;
    height:40px;
    border-radius: 5px;   
    width: 150px;
    
}
body{
    font-family:poppins,sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}
.installers{
    font-size: 10px;
    margin-left: 150px;
    width: 100px;
    color: white;
}
.button1{
    background-color: white;
    border-color:black;
    border: 2px solid #4CAF50 ;
    margin-left: 10px;
    margin-top: -10px;

}
.button1:hover{
    background-color: green;
    color: white;

}
.underline {
    padding-bottom: 4px;
    --bg-h: 2px
}
a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
  }
  a{
    background: linear-gradient(0deg, red, red) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;}
  a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
    color: green;
  }
  




    

