h3 {
    color: green;
border: 2px;
border-color: white;
}
.im{
    height: 500px;
    width: 500px;
    float: right;
    margin-right: 100px;
}


header{
    background-color: wheat;
    height: 50px;
    width: 1550px;
    padding-left: 500px;
}